.DS_Store
_bookdown_files/
alliance_network/bowden_isa17.pdf
entry_chapter/washu_slides.Rmd
entry_chapter/washu_slides.pdf
entry_chapter/syria.jpg
entry_chapter/mpsa_slides.Rmd
entry_chapter/mpsa_slides.pdf
entry_chapter/mpsa_notes.txt
.Rproj.user
survey_chapter/survey_standalone_cache/
survey_chapter/survey_standalone_files/
